.post {
  height: 123px;
  width: 100%;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0 #dfdddd;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}

.postTextStatus {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.TextStatusBox {
  padding: 8px 1em;
  width: 90%;
  border-radius: 48px;
  border: none;
  background-color: #edf0f0;
  outline: none;
  cursor: pointer;
}

.TextStatusBox:hover {
  background-color: #d5dada;
  transition: all 0.1s;
}

.post hr {
  margin: 8px 0;
  height: 0.1px;
  border-color: rgba(0, 0, 0, 0.5);
}

.photoActivity {
  display: flex;
  justify-content: space-around;
  height: 40%;
}

.photoActivity div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  padding: 5px;
  column-gap: 5px;
  cursor: pointer;
}

.photoActivity div:hover {
  background-color: #f3f5f5;
  border-radius: 3px;
}

.photoActivity div:nth-child(n) {
  font-size: 18px;
}

.photoActivity div:nth-child(1) :first-child {
  color: rgb(70, 158, 70);
}

.photoActivity div:nth-child(2) :first-child {
  color: royalblue;
}

.photoActivity div:nth-child(3) :first-child {
  color: rgba(255, 217, 0, 0.973);
}

.photoActivity div p {
  margin: auto 0;
  font-size: 14px;
  font-weight: 600;
  color: #444;
}
