* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  width: 100%;
}

.loginContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #efefef;
  font-family: "Poppins";
  column-gap: 60px;
}

.loginContainer > :nth-child(n) {
  width: 35%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginContainer > :nth-child(1) {
  align-items: flex-start;
  padding: 20px;
}

.loginContainer > .form {
  width: 28%;
  height: auto;
  border-radius: 6px;
  min-height: 15rem;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 4px 1px #cccccc8d;
}

.loginContainer > :nth-child(1) > h1 {
  font-size: 3rem;
  font-weight: bold;
  color: royalblue;
}

.loginContainer > :nth-child(1) > p {
  font-size: 1.3rem;
  font-weight: 500;
}

.loginContainer .form > form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  height: 50%;
}

.loginContainer .form > form input,
.loginContainer .form > form button,
.loginContainer .form > span > button {
  padding: 10px;
  border: 1px solid #5d5b5b39;
  border-radius: 6px;
  outline: 0;
  font-size: 15px;
}

.loginContainer .form > span {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer .loginBtn {
  border: 0;
  outline: 0;
  background-color: royalblue;
  color: white;
}
.loginContainer .form span > p {
  margin-top: 4px;
  margin-bottom: 0;
  color: #2f769e;
  cursor: pointer;
}
.loginContainer .signupBtn {
  background-color: rgb(26 164 26);
  color: white;
  padding: 8px 10px;
}
