.signupContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  font-family: "Poppins";
  background-color: #efefef;
}
.signupContainer > :first-child {
  width: 40%;
}

.signupContainer .form {
  width: 35%;
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #ccc;
}

.signupContainer .form form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.signupContainer :first-child > h1 {
  font-size: 3rem;
  font-weight: bold;
  color: royalblue;
}

.signupContainer :first-child > p {
  font-size: 1.3rem;
  font-weight: 500;
}
