.story {
  height: 180px;
  width: calc(20% - 6px);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 1px 1px 6px rgb(209, 208, 208);
  position: relative;
  cursor: pointer;
}

.storyImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  display: block;
  z-index: 0;
}

.story::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
  z-index: 1;
}

.story:hover :nth-child(1) {
  transform: scale(1.03);
  transition: all 0.2s;
}

.story:hover::after {
  background: rgba(34, 34, 34, 0.2);
}

.story :nth-child(2) {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 10px; /* unit must be px */
  left: 10px; /* একটু gap দিলে ভালো দেখাবে */
  z-index: 1;
  border: 3px solid rgb(9, 107, 187);
}

.userName {
  position: absolute;
  bottom: 0;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  z-index: 1;
  text-shadow: 1px 1px 2px black;
  width: 60%;
  margin-left: 5px;
}
